<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="shelf">
  <link
    name="shelf_link">
    <inertial>
      <origin
        xyz="1.2144 -1.9048 0"
        rpy="0 0 0" />
      <mass
        value="8" />
      <inertia
        ixx="43.793"
        ixy="-2.508E-15"
        ixz="1.5406E-15"
        iyy="53.728"
        iyz="0.033181"
        izz="10.98" />
    </inertial>
    <visual>
      <origin
        xyz="-1.2 2 -1.5"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mrm_test/meshes/base_link.STL" />
          <!-- filename="package://mrm_test/meshes/Shelf_new.STL" /> -->
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-1.2 2 -1.5"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mrm_test/meshes/base_link.STL" />
          <!-- filename="package://mrm_test/meshes/Shelf_new.STL" /> -->
      </geometry>
    </collision>
  </link>

  <joint name="shelf_joint" type="fixed">
    <axis xyz="0 0 1" />
    <limit effort="1000.0" lower="0" upper="0" velocity="0" />
    <origin rpy="0 0 3.14" xyz="0 -0.5 0" />
    <parent link="base_link" />
    <child link="shelf_link" />
  </joint>

  <link name="stand_link">
          <inertial>
              <mass value="1024" />
              <origin rpy="0 0 0" xyz="0 0 0" />
              <inertia ixx="170.667" ixy="0" ixz="0" iyy="170.667" iyz="0" izz="170.667" />
          </inertial>
          <collision>
              <origin rpy="0 0 0" xyz="0 0 0" />
              <geometry>
              <box size="0.43 0.43 0.9" />
              </geometry>
          </collision>
          <visual>
              <origin rpy="0 0 0" xyz="0 0 0" />
              <geometry>
              <box size="1.08 1.08 0.9" />
              </geometry>
              <material name="metallic_blue"/>
          </visual>
  </link>

  <joint name="stand_joint" type="fixed">
    <axis xyz="0 0 1" />
    <limit effort="1000.0" lower="0" upper="0" velocity="0" />
    <origin rpy="0 0 0" xyz="0 0 -0.45" />
    <parent link="base_link" />
    <child link="stand_link" />
  </joint>

  <link name="table_link">
          <inertial>
              <mass value="1024" />
              <origin rpy="0 0 0" xyz="0 0 0" />
              <inertia ixx="170.667" ixy="0" ixz="0" iyy="170.667" iyz="0" izz="170.667" />
          </inertial>
          <collision>
              <origin rpy="0 0 0" xyz="0 0 0" />
              <geometry>
              <box size="1.08 0.35 0.9" />
              </geometry>
          </collision>
          <visual>
              <origin rpy="0 0 0" xyz="0 0 0" />
              <geometry>
              <box size="1.08 0.35 0.9" />
              </geometry>
              <material name="brown"/>
          </visual>
  </link>

  <joint name="table_link" type="fixed">
    <axis xyz="0 0 1" />
    <limit effort="1000.0" lower="0" upper="0" velocity="0" />
    <origin rpy="0 0 0" xyz="0 0.715 -0.45" />
    <parent link="base_link" />
    <child link="table_link" />
  </joint>

  <link name="station_link">
          <inertial>
              <mass value="1024" />
              <origin rpy="0 0 0" xyz="0 0 0" />
              <inertia ixx="170.667" ixy="0" ixz="0" iyy="170.667" iyz="0" izz="170.667" />
          </inertial>
          <collision>
              <origin rpy="0 0 0" xyz="0 0 0" />
              <geometry>
              <box size="0.4 0.4 0.26" />
              </geometry>
          </collision>
          <visual>
              <origin rpy="0 0 0" xyz="0 0 0" />
              <geometry>
              <box size="0.4 0.4 0.26" />
              </geometry>
              <material name="white"/>
          </visual>
  </link>

  <joint name="station_link" type="fixed">
    <axis xyz="0 0 1" />
    <limit effort="1000.0" lower="0" upper="0" velocity="0" />
    <origin rpy="0 0 0" xyz="0 0.69 0.13" />
    <parent link="base_link" />
    <child link="station_link" />
  </joint>

  <link name="sensing_link">
          <inertial>
              <mass value="1024" />
              <origin rpy="0 0 0" xyz="0 0 0" />
              <inertia ixx="170.667" ixy="0" ixz="0" iyy="170.667" iyz="0" izz="170.667" />
          </inertial>
          <collision>
              <origin rpy="0 0 0" xyz="0 0 0" />
              <geometry>
              <box size="0.34 0.34 0.4" />
              </geometry>
          </collision>
          <visual>
              <origin rpy="0 0 0" xyz="0 0 0" />
              <geometry>
              <box size="0.34 0.34 0.4" />
              </geometry>
              <material name="white"/>
          </visual>
  </link>

  <joint name="sensing_link" type="fixed">
    <axis xyz="0 0 1" />
    <limit effort="1000.0" lower="0" upper="0" velocity="0" />
    <origin rpy="0 0 0" xyz="0.71 0 0.2" />
    <parent link="base_link" />
    <child link="sensing_link" />
  </joint>

  <link name="spectral_link">
          <inertial>
              <mass value="1024" />
              <origin rpy="0 0 0" xyz="0 0 0" />
              <inertia ixx="170.667" ixy="0" ixz="0" iyy="170.667" iyz="0" izz="170.667" />
          </inertial>
          <collision>
              <origin rpy="0 0 0" xyz="0 0 0" />
              <geometry>
              <box size="0.09 0.07 0.05" />
              </geometry>
          </collision>
          <visual>
              <origin rpy="0 0 0" xyz="0 0 0" />
              <geometry>
              <box size="0.09 0.07 0.05" />
              </geometry>
              <material name="blackish"/>
          </visual>
  </link>

  <joint name="spectral_link" type="fixed">
    <axis xyz="0 0 1" />
    <limit effort="1000.0" lower="0" upper="0" velocity="0" />
    <origin rpy="0 0 0" xyz="0 -0.05 0.225" />
    <parent link="sensing_link" />
    <child link="spectral_link" />
  </joint>

  <link name="pot_link">
          <inertial>
              <mass value="1024" />
              <origin rpy="0 0 0" xyz="0 0 0" />
              <inertia ixx="170.667" ixy="0" ixz="0" iyy="170.667" iyz="0" izz="170.667" />
          </inertial>
          <collision>
              <origin rpy="0 0 0" xyz="0 0 0" />
              <geometry>
              <box size="0.38 0.32 0.3" />
              </geometry>
          </collision>
          <visual>
              <origin rpy="0 0 0" xyz="0 0 0" />
              <geometry>
              <box size="0.38 0.32 0.3" />
              </geometry>
              <material name="white"/>
          </visual>
  </link>

  <joint name="pot_link" type="fixed">
    <axis xyz="0 0 1" />
    <limit effort="1000.0" lower="0" upper="0" velocity="0" />
    <origin rpy="0 0 0" xyz="-0.73 0 0.15" />
    <parent link="base_link" />
    <child link="pot_link" />
  </joint>

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <material name="metallic_blue">
    <color rgba="0.1961 0.3216 0.4824 1"/>
  </material>

  <material name="brown">
    <color rgba="0.588 0.294 0 1"/>
  </material>

  <material name="blackish">
    <color rgba="0 0 0 1"/>
  </material>

</robot>
